.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  width: 250px;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
}
.sidebar a {
  width: 100%;
  height: 57px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 15px;
  display: grid;
  place-items: center;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid transparent;
  font-size: 1rem !important;
  color: white;
  background-color: rgb(89, 186, 69);
  transition: all 0.5s ease-in-out;
}
.sidebar a:hover {
  background-color: transparent;
  border-color: rgb(89, 186, 69);
}
.toggle {
  display: none;
}
@media screen and (max-width: 850px) {
  .toggle {
    display: block;
    color: white;
    position: absolute;
    z-index: 91;
    font-size: 30px;
    cursor: pointer;
    top: 20px;
    left: 20px;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -700px;
    max-width: 450px;
    width: 100%;
    gap: 50px;
    transition: all 1s ease-in-out;
    z-index: 90;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
  }
  .active-side {
    left: 0;
  }
  .sidebar a {
    width: 85%;
  }
  .overlay-side {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 89;
    background-color: rgb(89, 186, 69);
    opacity: 0.6;
    backdrop-filter: blur(18px);
    cursor: pointer;
  }
}
